<% @products.each do |product| %>
  <div>
    <h2><a href="http://localhost:3000/products/<%=product.id%>"><%= product.title %></a></h2>
    <% if product.description %>
        <p>Description: <%=product.description%></p>
    <% end %>
    <p>Price: <%= product.price %></p>
    <p>Stock: <%= product.stock_quantity%></p>
  </div>
<% end %>
